.top_opacity {
  background-color: rgba(241, 240, 241,0.295);
  width: 100%;
  
}

#index_btn {

  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 20px;
  opacity: 0.702;
  width: 252px;
  height: 40px;
  

}

.mid {

  width: 50%;
  margin: 0 auto;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

h1 , h2, h3, h4 {

	color: white;
}

h2{

  font-size: 50px;

}