.job_holder {

	@include span(2/3);
	// display: inline-block;
	 background-color: rgba(241, 240, 241, .259);
  
  
		div {
			
			display: inline-block;
			width: 50%;

		}

}

.kid_holder {

	@include span (1/3);

}

.jobz_disp {

display: flex;
@include span(1/4);justify-content: flex-start;

}

body {

	background-image: url(assets/4.jpg);
}