@import url(http://fonts.googleapis.com/css?family=Paytone+One);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

$pay: 'oswald', sans-serif;
$orange: #f7931e;

@import "bourbon";
@import "jeet/index";

@import 'main';
@import 'parent';
@import 'kid';
@import 'drop';
@import 'index';
@import 'chore';
@import 'kid_dash';
@import 'statz';