<div class= 'create'>
    <h1>Kids</h1>

    <form name="form">
        <input type="text" ng-model="newKidName" placeholder="New Child Name..." required/>
        <input type="text" ng-model="password" placeholder="Child's Password" required/>
     <div class="cl-effect-13">
     <button ng-disabled="newKidForm.$invalid" ng-click="createKid(newKidName, password, energy)">Add Kid</button>
    </div>

    </form>


    <ul>
        <li ng-repeat="kid in kid">
            <span ng-click="remove(kid.name)"> X </span>
            {{ kid.name }}
        </li>
    </ul>


</div>