html, body {

	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url('assets/4.jpg');
}

.top-bar-img {
  max-width:40%;
  height:auto;
  border:none;
  
  margin: 0 auto;
}

.top-bar {
  position: relative;
}

.caption {
  color: #FF7600;
  font: 3em 'Paytone One', sans-serif;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
 
  color: #fff;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/*==========================================
============================================
			Parent Dash Display Css
=============================================*/

.main_parent_wrapper {

	width: 100%;
	display: flex;
	flex-flow: row-wrap;
	
	
}

/*--->ParentDash kid display<---*/
/* keeps everything scaling right */


.parent_kidDisplay {

	width: 40%;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	
}

/*--->ParentDash kid display<---*/

	.jobHolder {

		width: 40%;
		display: flex;
				
	}

/*ParentDash kid display/ kid.html*/

/* ====================================
	wrapper for Kid Display*/
	/* keeps everything scaling right with parent_kidDisplay*/


	#infoWrapper {
	width: 100%;
	display: flex;
	background-image: url(assets/kidBar.svg);
	background-repeat: no-repeat;
	align-items: center;
	}


/* ===============================================
		Avatar holder for Parent Dash */

		.avatarHolder {
	
			width: 35%;
			background-repeat: no-repeat;
			background-size: cover;
	
		}

		.avatar {
			padding: 20%;
			width: 100%;
			opacity: .5;
 			transition: opacity .25s ease-in-out;
   			-moz-transition: opacity .25s ease-in-out;
   			-webkit-transition: opacity .25s ease-in-out;
		}

		.avatar:hover {

			opacity: 1;
		}

		.avatar:active {

			opacity: 1;
		}

/* ==================================================
		Name display for Parent Dash */

		.info_holder {

			width: 65%;
			
		}

		.kidName {

			padding-top: 4%;
			color: #FF7600;
			padding-left: 15px;
			font-size: 3em;
			font-family: 'Paytone One', sans-serif;
			letter-spacing: 3px;
		}


/* ==================================================
=======================================================
			jobxDisplay */

			
		.jobz_name {

			color: #FF7600;
			padding-left: 15px;
			font-size: 3em;
			font-family: 'Paytone One', sans-serif;
			letter-spacing: 3px;
		}

		.jobz_disp {

			width: 20%;
			margin: 10%;
			display:flex;
			background: rgba(66,110,125,.5);

		}

		/*.job_view {

			width: 40%;
		}*/

		.jobzName {

	width: 100%;
	text-align: center;
}


.job_view {

	width: 40%;
	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;

}


@-moz-keyframes dropHeader {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
       opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes dropHeader {
    0% {
        opacity:0;
    }
    100% {
        opacity:1	;
    }
}







































 /*Kid display for Parent's Dash*/
/*--------------------------------*/



/*the avartar stuff*/

/*.avatarHolder {
	
	width: 60%;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.avatar {
	padding: 10%;
	width: 85%;
	opacity: .5;
 transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.avatar:hover {

	opacity: 1;
}

.avatar:active {

	opacity: 1;
}
*/
/*///////information -- Name, dropdown, status bar */

/*.dirKidDisplay {
	width: 100%;
	display: flex;

	flex-direction: column;
	justify-content: center;
}

.kidDisplay {

	width: 33%;
}
.dirJobDispay {

	width: 50%;

}

#kidNav {

	font-family: 'Paytone One', sans-serif;
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-decoration: none;

}
.statusBar {
	width: 20%;
}
.jobHolder {

	width: 40%;
}*/



/*.infoWrapper {
	padding-top: 15px;
	width: 60%;
	display: flex;
	background-image: url(assets/kidBar.svg);
	background-repeat: no-repeat;
*/
	/*flex-direction: column;
	justify-content: flex-start;*/
/*}
.spacer {

	width: 75%;
	height: 66%;
	display: none;
}


.kidName {

	height: 33%;
	color: #FF7600;
	padding-left: 15px;
	font-size: 2em;
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 3px;
}

#kidRepeate {

	font-family: 'Paytone One', sans-serif;*/
/*	color: #FF7600;
}
.JobChoice {

	height: 33%;
}

.jobCrest {
	width: 50%;
	text-align: center;
}

/*  =========================
	Kid Dashboard Stuff
	=========================
*/
/*
.holder {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.kidDashWrapper {

	width: 33%;
	
	float: left;


}



#coins:hover {

	color: #FF7600;

	}

#jobHolder {

	width: 40%;
	display: flex;
	flex-wrap: wrap;
}*/
/*
.jobzName {

	width: 100%;
	text-align: center;
}
#jobz {

	width: 30%;
	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;

}


@-moz-keyframes dropHeader {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
       opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes dropHeader {
    0% {
        opacity:0;
    }
    100% {
        opacity:1	;
    }
}
*/